{% extends "layout.html" %}


{% block body %}

    <div class="row">
        <div class="col">
            <h1>#{{ todo.id }} - {{ todo.title }}</h1>

            <hr>
            <a class="btn btn-outline-info btn-sm float-right" style="margin-left: 20px; " href="{% url 'todo:edit' todo.id %}">Edit</a>
            <a class="btn btn-outline-danger btn-sm float-right" href="{% url 'todo:delete' todo.id %}">Delete</a>
            {{ todo.content }}

            <hr>

            <a href="{% url 'todo:index' %}"><< Back to list</a>
         </div>

    </div>
{% endblock %}

