<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {% load bootstrap4 %}


    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>
<body>
    {# m=margin y=y軸  #}
    <div class="container my-3">

    {#    判斷登入後才顯示登出#}
    <div class="row">
        <div class="col-12 mb-3">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.username }}
                <a href="{% url 'logout' %}" class="btn btn-outline-primary  float-right">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-info float-right">Login</a>
            {% endif %}
        </div>
    </div>

        {% block body %}{% endblock %}
    <div class="row">
        <div class="col-12 mt-5">
            <a href="{% url 'todo:index' %}" class="btn btn-outline-primary  float-right">Home</a>
        </div>
    </div>
    </div>
</body>
</html>

